<h1>Add New Player</h1>

<form action="/players" method="post">
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="position" placeholder="Position">
	<input type="text" name="club" placeholder="Club">
	<input type="submit">
</form>